@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
    img{
        width: 100%;
    }

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    background-color: $background-color;
}

// classes padrões
.productDescr{
    line-height: 1rem;
    text-align: start;
    font-weight: lighter;
    font-family: $font-default;
}

.price{
    color: $color-primary;
    font-size: 1.4rem;
    font-family: $font-default;
    font-weight: bolder;
    line-height: 1rem;
}

.payment{
    line-height: 1rem;
    font-weight: 100;
    font-size: 0.7rem;
}

.paymentDest{
    color: $color-primary;
}

.title-catalog{
    text-align: center;
    color: $color-primary;
    font-family: $font-default;
    border-top: 1px solid $secondary-background;
    border-bottom: 1px solid $secondary-background;
}

.calcDesc{
    font-family: $font-default;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
}


// header
.c-header{
    background-color: $background-color;
    width: 100%;
    height: 15rem;
    padding: 1rem;
    border-bottom: 1px solid #626262;

    .c-header__login{
        font-family: $font-default;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        
        a, span, i{
            text-decoration: none;
            color: #ffffff;
        }

        a{
            &:hover{
                color: $color-primary;
            }
        }

        i{
            font-size: 1.1rem;
        }
    }

    .c-header__logo{
        img{
            width: 200px;
        }
    }

    .c-header__fav{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 2rem;

        .c-search{
            border-bottom: 1px solid white;
            width: 200px;

            input{
                border: none;
                background-color: transparent;
                color: #ffffff;
                font-family: $font-default;

                &::placeholder{
                    color: $secondary-background;
                }
            }

            button{
                border: none;
                color: #ffffff;

                &:hover{
                    background-color: $color-primary;
                    color: #000;
                }
            }
        }

        .c-header__icons{
            display: flex;
            align-items: center;
            gap: 1.5rem;
            color: #ffffff;
            font-size: 1.5rem;

            i{
                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}

// nav
.c-nav{
    width: 100%;
    background-color: $background-color;
    border-bottom: 1px solid $secondary-background;


    .c-nav__items{
        width: 100%;
        flex-wrap: nowrap;
        overflow-y: auto;

        a{
            font-family: $font-default;
            font-size: 1.2rem;
            color: #ffffff;
            &:hover{
                color: $color-primary;
            }
        }
    }
}

// main
.c-main{
    width: 100%;
    background-color: $background-color;


    // carousel
    .c-main__carousel{
        padding-bottom: 2rem;
        img{
            height: 50vh;
        }
    }

    // catalogos
    .c-main__catalog{
        width: 100%;
        padding-bottom: 2rem;

        .c-catalog-items{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.8rem;
            cursor: pointer;
            border-radius: 5px;

            .c-catalog__card{
                max-width: 12rem;
                margin: auto;
                padding: 0px;
                color: #ffffff;
                height: 25rem;
                border: none;
                background-color: $secondary-background2;

                .imgDiv{
                    height: 15rem;
                    background-color: $secondary-background;
                    border-radius: 5px;

                }

                .card-infos{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                }

                &:hover{
                    transform: scale(1.2);
                    transition: 0.5s;
                }
    
            }

            .c-catalog__more{
                width: 100%;
                max-width: 11rem;
                margin: auto;
                height: 25rem;
                background-color: $secondary-background2;
                color: white;

                .card-more{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    i{
                        font-size: 3.5rem;
                    }
                }

                &:hover{
                    transform: scale(1.2);
                    transition: 0.5s;
                }

            }
        }


    }

    // calculadoras
    .c-main__calc{
        width: 100%;

        .c-calc__cards{
            display: grid;
            gap: 0.8rem;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "calc1 calc2"
                "calc3 calc3"
            ;

            .c-calc__items{
                max-width: 12rem;
                height: 15rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                
                a{
                    text-decoration: none;
                }

                .calc-img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    margin: auto;
                    background-color: $secondary-background;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    img{
                        width: 100px;
                    }
                }

                &:hover{
                    transform: scale(1.2);
                    transition: 0.5s;
                }

            }

            .calc-1{
                grid-column: calc1;
            }

            .calc-2{
                grid-column: calc2;
            }

            .calc-3{
                grid-column: calc3;
            }
        }
    }
}

// footer
.c-footer{
    width: 100%;
    background-color: $background-color;
    margin: auto;
    border-top: 1px solid $secondary-background;


    .c-footer__kn{
        padding-top: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        img{
            width: 100px;
        }

        .c-kn__icons{
            display: flex;
            gap: 1rem;

            i{
                color: white;
                font-size: 2rem;

                &:hover{
                    color: $color-primary;
                }
            }

        }
    }

    .c-footer__devCont{
        display: flex;
        flex-direction: column;

        .c-footer__dev{
            display: flex;
            flex-direction: column;
            align-items: center;
    
    
            p{
                color: #ffffff;
                font-family: $font-default;
                text-align: center;
                font-size: 1rem;
                font-weight: 100;
            }
    
            .c-dev__icons{
                display: flex;
                gap: 1rem;
    
                i{
                    color: white;
                    font-size: 1.5rem;

                    &:hover{
                        color: $color-primary;
                    }
    
                }
            }
        }
    
        .c-footer__contact{
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            p{
                cursor: pointer;
                &:hover{
                    color: $color-primary;
                }
            }
        }

    }

    .c-footer__rights{
        color: #ffffff;
        font-size: 0.8rem;
        font-family: $font-default;
        font-weight: 100;
        text-align: center;
        background-color: $secondary-background2;
        margin-top: 10px;

        p{
            padding: 10px;
        }
    }
}

// media query
@media (min-width: 750px) {
    .c-main .c-main__catalog .c-catalog-items {
        display: flex;
        gap: 0.8rem;
    }

    .c-main .c-main__calc .c-calc__cards {
        display: flex;
        gap: 0.8rem;
        align-items: center;
        justify-content: center;
    }

    .c-footer .c-footer__devCont{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 900px) {
    .c-main{
        max-width: 900px;
        margin: auto;
        border: 1px solid $secondary-background;
    }
}