@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
    img{
        width: 100%;
    }

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


// header
.c-header{
    background-color: $background-color;
    width: 100%;
    height: 15rem;
    padding: 1rem;
    border-bottom: 1px solid #626262;

    .c-header__login{
        font-family: $font-default;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        
        a, span, i{
            text-decoration: none;
            color: #ffffff;
        }

        i{
            font-size: 1.1rem;
        }
    }

    .c-header__logo{
        img{
            width: 200px;
        }
    }

    .c-header__fav{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 2rem;

        .c-search{
            border-bottom: 1px solid white;
            width: 200px;

            input{
                border: none;
                background-color: transparent;
                color: #ffffff;
                font-family: $font-default;

                &::placeholder{
                    color: #ffffff;
                }
            }

            button{
                border: none;
                color: #ffffff;
            }
        }

        .c-header__icons{
            display: flex;
            align-items: center;
            gap: 1.5rem;
            color: #ffffff;
            font-size: 1.5rem;
        }
    }
}

// nav
.c-nav{
    width: 100%;
    background-color: $background-color;

    .c-nav__items{
        width: 100%;
        flex-wrap: nowrap;
        overflow-y: auto;

        a{
            font-family: $font-default;
            font-size: 1.2rem;
            color: #ffffff;
        }
    }
}

// main
.c-main{
    width: 100%;
    background-color: $background-color;

    .c-main__carousel{
        img{
            height: 50vh;
        }
    }
}
